{
  "CLOUDANT_CONNECTION_URL": {"expr": "Cloudant.*", "field": "credentials.url"},
  "DOCUMENTS_DB": "documents",
  "WORKORDERS_DB": "workorders",
  "CUSTOMERS_DB": "customers",
  "ANSWERUNITS_DB": "answerunits",
  "SIMILARITIES_DB": "similarities",
  "SYSCONFIG_DB": "sysconfig",
  "RR_CLUSTERNAME": "fst-starter-cluster",
  "RR_CONFIGNAME": "fst-starter-config",
  "RR_COLLECTIONNAME": "fst-starter-collection",
  "RR_USERNAME": { "expr": "Retrieve and Rank.*", "field": "credentials.username" },
  "RR_PASSWORD": { "expr": "Retrieve and Rank.*", "field": "credentials.password" },
  "DOC_CONVERSION_URL": {"expr": "Document Conversion.*", "field": "credentials.url", "append": "/v1/convert_document?version=2015-12-15"},
  "DOC_CONVERSION_USERNAME": {"expr": "Document Conversion.*", "field": "credentials.username"},
  "DOC_CONVERSION_PASSWORD": {"expr": "Document Conversion.*", "field": "credentials.password"},
  "PREDICTION_URL": {"expr": "IBM Watson Machine Learning.*", "field": "credentials.url", "append": "/pm/v1/score"},
  "PREDICTION_USERNAME": { "expr": "IBM Watson Machine Learning.*", "field": "credentials.username" },
  "PREDICTION_PASSWORD": { "expr": "IBM Watson Machine Learning.*", "field": "credentials.password" },
  "PREDICTION_APIKEY": { "expr": "IBM Watson Machine Learning.*", "field": "credentials.access_key" },
  "PREDICTION_CONTEXTID": "fst_componentcode",
  "PREDICTION_TABLENAME": "ServiceOrderData_CompCode_Test.csv",
  "PREDICTION_HEADERS": ["EquipmentNumber", "Condition Hierarchy", "Reason Hierarchy", "Reason Code"],
  "SO_PREDICTION_TABLENAME": "krm-event-counts-test.csv",
  "SO_PREDICTION_CONTEXT_ID": "fst_serviceorder",
  "IOT_ORG": { "expr": "Internet of Things Platform.*", "field": "credentials.org" },
  "IOT_ID": { "expr": "Internet of Things Platform.*", "field": "credentials.iotCredentialsIdentifier" },
  "IOT_LISTENER_KEY": "",
  "IOT_LISTENER_TOKEN": "",
  "IOT_SENDER_KEY": "",
  "IOT_SENDER_TOKEN": ""
}
